@import "~styles/variables";

.home-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.home-view h5 {
    color: #EE5F73;
    text-transform: capitalize;
    font-weight: bold;
}

.home-view ul {
    display: flex;
}

.home-view ul li {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #51006D;
}

.home-view ul li span {
    padding-left: 5px;
}