
#menu {
	position: absolute;
	height: calc(100vh - 60px);
	width: 210px;
	background-color: white;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
	ul {
		margin-top: 0px;
		padding: 0px;
		color: black;
		list-style-type: none;
		text-align: left;
	}
	li {
		padding: 30px 0 20px 20px;
		font-size: 1.5em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.14);
		&:last-child {
			border-bottom: none;
		}
	}
}
.fa {
	color: black;
	padding-right: 8px;
}
li {
	a {
		text-decoration: none;
		color: black;
	}
}
#menu.isopen {
	-webkit-transform: none;
	transform: none;
}
