@import "./variables.scss";

html {
	overflow: hidden;
}
.row {
	.col-12 {
		padding: 0 5px;
	}
}
.col-6 {
	padding: 0 !important;
}
.loader {
	min-height: 225px !important;
}
.fas {
	margin: 0 0 0 5px !important;
}
.mt-3 {
	margin-top: 10px !important;
}
.mt-6 {
	margin-top: 100px;
}
.col-md-4 {
	padding: 0 !important;
}
.col-md-7 {
	padding: 0 !important;
	padding: 0;
}
.chart-title {
	margin-bottom: 10px;
	.tittles {
		.dataTables_wrapper {
			.col-md-6 {
				padding: 0;
			}
		}
	}
	.radio-options {
		padding: 0 5px;
		.radio-container {
			margin: 0 !important;
			padding-right: 5px;
		}
	}
}
#multiLineLine {
	height: 390px;
}
table {
	tr {
		th {
			background-color: #ecd2a6;
			color: darkslategray;
			font-size: 12px;
		}
	}
}
.chart-footer {
	padding: 0 5px !important;
	padding: 0 8px !important;
	.col-md-12 {
		padding: 0 !important;
	}
}
.ReactTable {
	margin-bottom: 10px;
	border: none !important;
	.-pagination {
		.-btn {
			width: 50%;
			color: black;
			height: auto;
			font-weight: bold;
		}
		.-next {
			.-btn {
				float: right;
				background-color: orange;
			}
		}
		.-previous {
			.-btn {
				background-color: orange;
			}
		}
	}
}
.col-lg-3 {
	padding: 0 5px;
}
.col-12 {
	padding: 0 5px;
}
.col-md-8 {
	padding: 0;
}
.css-1pcexqc-container {
	width: 123px;
	margin-right: 5px !important;
}
.col-md-6 {
	padding: 0px;
}
.low {
	background-color: #aaf099 !important;
	width: 50px;
	height: 25px;
}
.medium {
	background-color: #f4f266 !important;
}
.high {
	background-color: #ef294e !important;
}
.na {
	background-color: rgb(190, 217, 241) !important;
}
.rt-td {
	text-align: center;
}
.col-md-5 {
	padding: 0 5px;
}
body {
	background-color: #F2F2F2;
	color: white;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	margin: 0;
	box-sizing: border-box;
}
.inprogress {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	font-size: xx-large;
	color: #ccc;
}
a {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}
li {
	list-style: none;
}
button.btn {
	background: #ee0979 !important;
	border-color: #ee0979 !important;
	font-size: small;
	&:focus {
		box-shadow: none !important;
		background: #aa0555 !important;
		border-color: #aa0555 !important;
		cursor: pointer;
	}
	&:hover {
		box-shadow: none !important;
		background: #aa0555 !important;
		border-color: #aa0555 !important;
		cursor: pointer;
	}
}
* {
	outline: none !important;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	padding: 0;
}
h4 {
	margin: 0;
	padding: 0;
}
h5 {
	margin: 0;
	padding: 0;
}
h6 {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
select {
	font-size: small !important;
}
input {
	font-size: small !important;
}
label {
	margin-bottom: 0;
}
