::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #658cb2;
    border-radius: 0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3b5976;
  }