@import "~styles/variables";

.chart {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-top: 15px;
    display: flex;
    background: #fff;
}

.chart>div {
    width: 100%;
}

.chart .chart-tools {
    width: 12%;
    margin-right: 8px;
    text-align: center;
}

.chart .chart-tools>div i {
    color: #51006D;
    font-size: medium;
}

.chart .chart-tools>div i:not(:last-child) {
    padding-right: 15;
}

.chart .chart-tools>div i:hover {
    cursor: pointer;
}

.chart .chart-tools ul {
    margin-top: 7vh;
    display: block;
    text-align: center;
    overflow: hidden;
    font-size: 11px;
}

.chart .chart-tools ul li {
    padding: 3px 0;
    background: #DCDCDC;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
}

.chart .chart-tools ul li.chart-tool-active,
.chart .chart-tools ul li:hover {
    cursor: pointer;
    background: #51006D;
    color: white;
}