.login-page-wrapper {
    background: #fff;
    height: 100vh;
    width: 100%;
}

.login-page-wrapper .login-page-left {
    position: relative;
    height: 100vh;
}

.login-page-wrapper .login-page-left .login-content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-page-wrapper .login-page-right {
    height: 100vh;
    background: #bc2020;
    position: relative;
}

.login-page-wrapper .login-page-right .login-right-content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login-page-wrapper .login-page-right .login-right-content form button {
    background: #d34343 !important;
    color: #fff !important;
    font-size: 2.2vh;
    border: none !important;
    padding: 5px 15px 7px;
    cursor: pointer;
}

input,
select {
    border: none;
    background: none;
}

.login-page-wrapper .login-page-right .login-right-content form button:hover {
    background: #fff !important;
    color: #111 !important;
}

.btn.btn-primary {
    background: transparent !important;
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    transition: .4s;
    font-size: 13px;
    color: #111;
    font-weight: bold;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* .logout {
    opacity: .5;
    font-size: 35;
    position: fixed;
    top: 20%;
    left: 42%;
} */

.Re-login {
    position: fixed;
    left: 40%;
}