

.menubar {
	display: block;
	height: 60px;
	background-color: #9C27B0;
	box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
	text-align: center;
	span {
		display: inline-block;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		font-weight: 300;
		font-size: 2em;
		line-height: 60px;
	}
}
#hambmenu {
	position: relative;
	width: 40px;
	height: 45px;
	float: left;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	span {
		position: absolute;
		height: 5px;
		width: 100%;
		vertical-align: middle;
		margin: 20px 0 0 15px;
		background: white;
		border-radius: 8px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
		padding: 0px;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2) {
			top: 10px;
		}
		&:nth-child(3) {
			top: 10px;
		}
		&:nth-child(4) {
			top: 20px;
		}
	}
}
.hambclicker {
	content: "";
	height: 48px;
	width: 55px;
	position: absolute;
	top: 8px;
	left: 8px;
	cursor: pointer;
	z-index: 9;
}
#hambmenu.isopen {
	span {
		&:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
			opacity: 0;
		}
		&:nth-child(2) {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
			opacity: 0;
		}
	}
}

@media screen and (max-width: 420px) {
	.menubar {
		span {
			font-size: 1.2em;
		}
	}
}